a
  color: #4183C4

h1
  font-size: 28px

code
pre
  border: 1px solid #eaeaea
  background-color: #f8f8f8
  background: transparent

code
  border-radius: 3px
  margin: 0 2px
  padding: 0 5px
  white-space: nowrap

pre
  font-size: 13px
  line-height: 19px
  overflow: auto
  padding: 6px 10px
  border-radius: 3px
  white-space: pre
  code
    border: none

ul, ol
  padding-left: 30px

ul:first-child, ol:first-child
  margin-top: 0
