body
  background: #e8ecec
  color: black
  font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif

a
  color: #001B36
  text-decoration: none

ul
  padding: 0
  margin: 0

.wrapper
  width: 686px
  padding: 30px 0px
  overflow: hidden
  margin: 10px auto
  background: white
  border-radius: 15px
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.3)

.main
  margin: 0 30px

.nav
  padding: 0 30px 15px
  border-bottom: 1px solid #ddd
  li
    margin-right: 5px
    list-style: none
    display: inline-block
    cursor: pointer
  a
    padding: 5px 10px
    font-size: 14px
    border-radius: 5px
    color: #1ba6b2
    &:hover
    .on
      background: #1ba6b2
      color: white
::selection
   background-color: #1ba6b2;
   color: white
