body
  background: #bcdba6
  color: black

a
  color: #001B36
  font-weight: bold
  text-decoration: none

.main
  width: 960px
  height: @width
  padding: 20px
  overflow: hidden
  margin: 0 auto
  background: white
